html {
  box-sizing: border-box;
  line-height: 1.5
}

*, *::before, ::after


.grid-container {
  display: flex;
}

img {
padding: 1rem;
width: 100px;
height: 50px;
}

div {
  border: solid;
  border-radius: 3em;
}

p {
  text-decoration: underline;
}
